In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
mean_light_suitable_range: tuple[float] = (70, 160)
mean_light_middle = (mean_light_suitable_range[0] + mean_light_suitable_range[1]) / 2
mean_light_middle
adjust_exposure_time_base_step = 100

# data1

In [3]:
exposure_time_and_mean_bright1 = pd.DataFrame(
    [
        [40000, 41.678669920455725],
        [42000, 42.253461084293576],
        [44000, 42.454117113697706],
        [46000, 43.28016705270944],
        [48000, 44.45603532453545],
        [50000, 46.284722195188415],
        [52000, 47.73752733117928],
        [54000, 49.21072955595349],
        [56000, 51.07367585707983],
        [58000, 58.79165604238036],
        [60000, 72.06801157155091],
        [62000, 73.83858270398629],
        [64000, 74.45554798608948],
        [66000, 78.93671704687013],
    ],
    columns=["exposure_time", "mean_bright"],
)
exposure_time_and_mean_bright1.head()

   exposure_time  mean_bright
0          40000    41.678670
1          42000    42.253461
2          44000    42.454117
3          46000    43.280167
4          48000    44.456035

In [4]:
distance1 = mean_light_middle - exposure_time_and_mean_bright1['mean_bright']
distance1

0     73.321330
1     72.746539
2     72.545883
3     71.719833
4     70.543965
5     68.715278
6     67.262473
7     65.789270
8     63.926324
9     56.208344
10    42.931988
11    41.161417
12    40.544452
13    36.063283
Name: mean_bright, dtype: float64

In [5]:
idx = 0
print(exposure_time_and_mean_bright1['exposure_time'][idx])
print(distance1[idx] * adjust_exposure_time_base_step)
exposure_time_and_mean_bright1['exposure_time'][idx] + distance1[idx] * adjust_exposure_time_base_step

40000
7332.133007954428

np.float64(47332.13300795443)

In [6]:
idx = 4
print(exposure_time_and_mean_bright1['exposure_time'][idx])
print(distance1[idx] * adjust_exposure_time_base_step)
exposure_time_and_mean_bright1['exposure_time'][idx] + distance1[idx] * adjust_exposure_time_base_step

48000
7054.396467546455

np.float64(55054.39646754645)

In [7]:
idx = 8
print(exposure_time_and_mean_bright1['exposure_time'][idx])
print(distance1[idx] * adjust_exposure_time_base_step)
exposure_time_and_mean_bright1['exposure_time'][idx] + distance1[idx] * adjust_exposure_time_base_step

56000
6392.6324142920175

np.float64(62392.63241429202)

In [8]:
idx = 11
print(exposure_time_and_mean_bright1['exposure_time'][idx])
print(distance1[idx] * adjust_exposure_time_base_step)
exposure_time_and_mean_bright1['exposure_time'][idx] + distance1[idx] * adjust_exposure_time_base_step

62000
4116.141729601371

np.float64(66116.14172960137)

# data2

In [9]:
exposure_time_and_mean_bright2 = pd.DataFrame(
    [
        [40000, 43.09336468714315],
        [42000, 44.65769603835773],
        [44000, 46.34220104393751],
        [46000, 48.027661343169314],
        [48000, 49.64847926723243],
        [50000, 51.20548967416693],
        [52000, 52.73641843143361],
        [54000, 54.50901012470155],
        [56000, 56.19104145580297],
        [58000, 57.517869806264926],
        [60000, 58.79849500090834],
        [62000, 60.28579192294716],
        [64000, 61.607808363827466],
        [66000, 62.99052565075781],
        [68000, 64.38855626492266],
        [70000, 66.41952605950898],
        [72000, 67.66517788785944],
        [74000, 69.00257740319734],
        [76000, 70.37615066697809],
        [78000, 71.66816939491851],
        [80000, 72.84948508707049],
        [82000, 74.32807147306136],
        [84000, 75.20105504840133],
        [86000, 76.9422499480951],
        [88000, 78.12494258019309],
        [90000, 79.69780198925568]
    ],
    columns=["exposure_time", "mean_bright"],
)
exposure_time_and_mean_bright2.head()

   exposure_time  mean_bright
0          40000    43.093365
1          42000    44.657696
2          44000    46.342201
3          46000    48.027661
4          48000    49.648479

In [10]:
distance2 = mean_light_middle - exposure_time_and_mean_bright2['mean_bright']
distance2

0     71.906635
1     70.342304
2     68.657799
3     66.972339
4     65.351521
5     63.794510
6     62.263582
7     60.490990
8     58.808959
9     57.482130
10    56.201505
11    54.714208
12    53.392192
13    52.009474
14    50.611444
15    48.580474
16    47.334822
17    45.997423
18    44.623849
19    43.331831
20    42.150515
21    40.671929
22    39.798945
23    38.057750
24    36.875057
25    35.302198
Name: mean_bright, dtype: float64

In [11]:
idx = 0
print(exposure_time_and_mean_bright2['exposure_time'][idx])
print(distance2[idx] * adjust_exposure_time_base_step)
exposure_time_and_mean_bright2['exposure_time'][idx] + distance2[idx] * adjust_exposure_time_base_step

40000
7190.663531285685

np.float64(47190.66353128568)

In [12]:
idx = 4
print(exposure_time_and_mean_bright2['exposure_time'][idx])
print(distance2[idx] * adjust_exposure_time_base_step)
exposure_time_and_mean_bright2['exposure_time'][idx] + distance2[idx] * adjust_exposure_time_base_step

48000
6535.152073276757

np.float64(54535.15207327675)

In [13]:
idx = 7
print(exposure_time_and_mean_bright2['exposure_time'][idx])
print(distance2[idx] * adjust_exposure_time_base_step)
exposure_time_and_mean_bright2['exposure_time'][idx] + distance2[idx] * adjust_exposure_time_base_step

54000
6049.0989875298455

np.float64(60049.09898752985)

In [14]:
idx = 10
print(exposure_time_and_mean_bright2['exposure_time'][idx])
print(distance2[idx] * adjust_exposure_time_base_step)
exposure_time_and_mean_bright2['exposure_time'][idx] + distance2[idx] * adjust_exposure_time_base_step

60000
5620.150499909166

np.float64(65620.15049990917)

In [15]:
idx = 12
print(exposure_time_and_mean_bright2['exposure_time'][idx])
print(distance2[idx] * adjust_exposure_time_base_step)
exposure_time_and_mean_bright2['exposure_time'][idx] + distance2[idx] * adjust_exposure_time_base_step

64000
5339.219163617254

np.float64(69339.21916361725)

In [16]:
idx = 15
print(exposure_time_and_mean_bright2['exposure_time'][idx])
print(distance2[idx] * adjust_exposure_time_base_step)
exposure_time_and_mean_bright2['exposure_time'][idx] + distance2[idx] * adjust_exposure_time_base_step

70000
4858.047394049102

np.float64(74858.0473940491)

In [17]:
idx = 18
print(exposure_time_and_mean_bright2['exposure_time'][idx])
print(distance2[idx] * adjust_exposure_time_base_step)
exposure_time_and_mean_bright2['exposure_time'][idx] + distance2[idx] * adjust_exposure_time_base_step

76000
4462.384933302191

np.float64(80462.3849333022)

In [18]:
idx = 20
print(exposure_time_and_mean_bright2['exposure_time'][idx])
print(distance2[idx] * adjust_exposure_time_base_step)
exposure_time_and_mean_bright2['exposure_time'][idx] + distance2[idx] * adjust_exposure_time_base_step

80000
4215.051491292951

np.float64(84215.05149129295)

In [19]:
idx = 22
print(exposure_time_and_mean_bright2['exposure_time'][idx])
print(distance2[idx] * adjust_exposure_time_base_step)
exposure_time_and_mean_bright2['exposure_time'][idx] + distance2[idx] * adjust_exposure_time_base_step

84000
3979.894495159867

np.float64(87979.89449515987)

In [20]:
idx = 24
print(exposure_time_and_mean_bright2['exposure_time'][idx])
print(distance2[idx] * adjust_exposure_time_base_step)
exposure_time_and_mean_bright2['exposure_time'][idx] + distance2[idx] * adjust_exposure_time_base_step

88000
3687.505741980691

np.float64(91687.50574198068)

# data3

In [22]:
exposure_time_and_mean_bright_and_step1 = pd.DataFrame(
    [
        [40000, 44.029489612529844, 7097],
        [47085, 47.03662669988581, 6796],
        [53685, 54.55215754113464, 6044],
        [59714, 57.97101646034465, 5702],
        [65142, 63.89396767621717, 5110],
        [70228, 66.51212174296688, 4848],
        [75057, 70.27101743356171, 4472],
        [79342, 74.1425379392453, 4085],
        [83400, 75.89006353485415, 3910],
        [87285, 78.29048404572822, 3670],
        [90828, 81.02723020800893, 3397],
    ],
    columns=["exposure_time", "mean_bright", "step"],
)
exposure_time_and_mean_bright_and_step1.head()

   exposure_time  mean_bright  step
0          40000    44.029490  7097
1          47085    47.036627  6796
2          53685    54.552158  6044
3          59714    57.971016  5702
4          65142    63.893968  5110

In [24]:
exposure_time_and_mean_bright_and_step1['exposure_time'] + exposure_time_and_mean_bright_and_step1['step']

0     47097
1     53881
2     59729
3     65416
4     70252
5     75076
6     79529
7     83427
8     87310
9     90955
10    94225
dtype: int64

In [23]:
distance3 = mean_light_middle - exposure_time_and_mean_bright_and_step1['mean_bright']
distance3

0     70.970510
1     67.963373
2     60.447842
3     57.028984
4     51.106032
5     48.487878
6     44.728983
7     40.857462
8     39.109936
9     36.709516
10    33.972770
Name: mean_bright, dtype: float64