In [8]:
from sklearn.feature_extraction import DictVectorizer
import pandas as pd

# DictVectorizer(sparse=True,…)
参数:
    sparse=True  返回sparse矩阵    可以提高效率和节省内存
    sparse=False 返回非sparse矩阵

DictVectorizer.fit_transform(x)

DictVectorizer.get_feature_names_out() 返回类别名称

In [2]:
data = [
    {"city": "北京", "temperature": 100},
    {"city": "上海", "temperature": 60},
    {"city": "深圳", "temperature": 30},
]

In [3]:
transfer = DictVectorizer(sparse=False)

In [9]:
data_trans = transfer.fit_transform(data)
data_trans

array([[  0.,   1.,   0., 100.],
       [  1.,   0.,   0.,  60.],
       [  0.,   0.,   1.,  30.]])

In [12]:
names = transfer.get_feature_names_out()
names
# 可以理解为上面的column

array(['city=上海', 'city=北京', 'city=深圳', 'temperature'], dtype=object)

In [13]:
names = [name.replace("city=", "") for name in names]
names

['上海', '北京', '深圳', 'temperature']

In [14]:
pd.DataFrame(data_trans, columns=names)

    上海   北京   深圳  temperature
0  0.0  1.0  0.0        100.0
1  1.0  0.0  0.0         60.0
2  0.0  0.0  1.0         30.0