In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# df.to_func

In [2]:
# 生成10名同学，5门功课的数据
score = np.random.randint(40, 100, (10, 5))
# 构造列索引序列
subjects = ["Chinese", "Math", "English", "Sciencs", "Sports"]
# 构造行索引序列
students = [f"stu_{i+1}" for i in range(score.shape[0])]
# 添加行索引
score_df = pd.DataFrame(score, columns=subjects, index=students)
score_df

        Chinese  Math  English  Sciencs  Sports
stu_1        41    89       99       64      49
stu_2        61    62       90       85      54
stu_3        66    68       50       84      59
stu_4        67    43       68       64      90
stu_5        44    77       83       76      74
stu_6        64    96       87       49      62
stu_7        96    73       78       53      82
stu_8        99    60       94       66      86
stu_9        82    97       57       60      97
stu_10       40    63       79       68      70

## to_numpy()

In [3]:
score_df.to_numpy()

array([[41, 89, 99, 64, 49],
       [61, 62, 90, 85, 54],
       [66, 68, 50, 84, 59],
       [67, 43, 68, 64, 90],
       [44, 77, 83, 76, 74],
       [64, 96, 87, 49, 62],
       [96, 73, 78, 53, 82],
       [99, 60, 94, 66, 86],
       [82, 97, 57, 60, 97],
       [40, 63, 79, 68, 70]])

In [4]:
score_df["Chinese"].to_numpy()

array([41, 61, 66, 67, 44, 64, 96, 99, 82, 40])

## to_dict(orient="records")

In [5]:
score_df.to_dict(orient="records")

[{'Chinese': 41, 'Math': 89, 'English': 99, 'Sciencs': 64, 'Sports': 49},
 {'Chinese': 61, 'Math': 62, 'English': 90, 'Sciencs': 85, 'Sports': 54},
 {'Chinese': 66, 'Math': 68, 'English': 50, 'Sciencs': 84, 'Sports': 59},
 {'Chinese': 67, 'Math': 43, 'English': 68, 'Sciencs': 64, 'Sports': 90},
 {'Chinese': 44, 'Math': 77, 'English': 83, 'Sciencs': 76, 'Sports': 74},
 {'Chinese': 64, 'Math': 96, 'English': 87, 'Sciencs': 49, 'Sports': 62},
 {'Chinese': 96, 'Math': 73, 'English': 78, 'Sciencs': 53, 'Sports': 82},
 {'Chinese': 99, 'Math': 60, 'English': 94, 'Sciencs': 66, 'Sports': 86},
 {'Chinese': 82, 'Math': 97, 'English': 57, 'Sciencs': 60, 'Sports': 97},
 {'Chinese': 40, 'Math': 63, 'English': 79, 'Sciencs': 68, 'Sports': 70}]

## to_json(orient="records")

In [6]:
score_df.to_json(orient="records")

'[{"Chinese":41,"Math":89,"English":99,"Sciencs":64,"Sports":49},{"Chinese":61,"Math":62,"English":90,"Sciencs":85,"Sports":54},{"Chinese":66,"Math":68,"English":50,"Sciencs":84,"Sports":59},{"Chinese":67,"Math":43,"English":68,"Sciencs":64,"Sports":90},{"Chinese":44,"Math":77,"English":83,"Sciencs":76,"Sports":74},{"Chinese":64,"Math":96,"English":87,"Sciencs":49,"Sports":62},{"Chinese":96,"Math":73,"English":78,"Sciencs":53,"Sports":82},{"Chinese":99,"Math":60,"English":94,"Sciencs":66,"Sports":86},{"Chinese":82,"Math":97,"English":57,"Sciencs":60,"Sports":97},{"Chinese":40,"Math":63,"English":79,"Sciencs":68,"Sports":70}]'

# 文件读取与存储

## CSV

### pd.read_csv()

pandas.read_csv(filepath_or_buffer, sep =',', usecols)

- filepath_or_buffer:文件路径
- sep :分隔符，默认用","隔开
- usecols:指定读取的列名，列表形式

In [7]:
data = pd.read_csv("../data/stock_day.csv", usecols=['open', 'close'])
data[:5]

             open  close
2018-02-27  23.53  24.16
2018-02-26  22.80  23.53
2018-02-23  22.88  22.82
2018-02-22  22.25  22.28
2018-02-14  21.49  21.92

### pd.to_csv()
DataFrame.to_csv(path_or_buf=None, sep=', ’, columns=None, header=True, index=True, mode='w', encoding=None)

- path_or_buf :文件路径
- sep :分隔符，默认用","隔开
- columns :选择需要的列索引
- header :boolean or list of string, default True,是否写进列索引值
- index:是否写进行索引(一般为否)
- mode:'w'：重写, 'a' 追加

In [8]:
data[:5].to_csv("27_text.csv", columns=["open"], index=False)

In [9]:
pd.read_csv("27_text.csv")

    open
0  23.53
1  22.80
2  22.88
3  22.25
4  21.49

In [10]:
data[:5].to_csv("27_text_index.csv", columns=["open"], index=True)

In [11]:
pd.read_csv("27_text_index.csv")

   Unnamed: 0   open
0  2018-02-27  23.53
1  2018-02-26  22.80
2  2018-02-23  22.88
3  2018-02-22  22.25
4  2018-02-14  21.49

## HDF5

### pd.read_hdf()与to_hdf()

HDF5文件的读取和存储需要指定一个键,值为要存储的DataFrame

pandas.read_hdf(path_or_buf,key =None, **kwargs)
    从h5文件当中读取数据
- path_or_buffer:文件路径
- key:读取的键
- return:Theselected object

DataFrame.to_hdf(path_or_buf, key, **kwargs)

In [12]:
data[:5]

             open  close
2018-02-27  23.53  24.16
2018-02-26  22.80  23.53
2018-02-23  22.88  22.82
2018-02-22  22.25  22.28
2018-02-14  21.49  21.92

In [15]:
data[:5].to_hdf("27_test.h5", key="scock")

In [16]:
pd.read_hdf('27_test.h5', key="scock")

             open  close
2018-02-27  23.53  24.16
2018-02-26  22.80  23.53
2018-02-23  22.88  22.82
2018-02-22  22.25  22.28
2018-02-14  21.49  21.92

## JSON

### pd.read_json()

pandas.read_json(path_or_buf=None, orient=None, typ='frame', lines=False)
将JSON格式准换成默认的Pandas DataFrame格式

- orient: string,Indication of expected JSON string format.
  - split: dict like {index -> [index], columns -> [columns], data -> [values]}
    - split 将索引总结到索引，列名到列名，数据到数据。将三部分都分开了
  - records: list like [{column -> value}, ... , {column -> value}]
    - records 以 columns：values 的形式输出
  - index: dict like {index -> {column -> value}}
    - index 以 index：{columns：values}... 的形式输出
  - columns: dict like {column -> {index -> value}},默认该格式
    - columns 以 columns:{index:values} 的形式输出
  - values: just the values array
    - values 直接输出值
- lines: boolean, default False
    - 按照每行读取json对象
- typ: default ‘frame’， 指定转换成的对象类型series或者dataframe

In [17]:
#                                                                         如果文件是lines格式的,就要使用lines打开
js = pd.read_json("../data/Sarcasm_Headlines_Dataset.json", orient="records", lines=True)
js[:5]

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0

### pd.to_json()
DataFrame.to_json(path_or_buf=None, orient=None, lines=False)

将Pandas 对象存储为json格式

- path_or_buf=None: 文件地址
- orient: 存储的json形式，{‘split’,’records’,’index’,’columns’,’values’}
- lines: 一个对象存储为一行
- indent: 缩进

In [18]:
# 不保存,只转化为json
js.head().to_json(orient="records", indent=2)

'[\n  {\n    "article_link":"https:\\/\\/www.huffingtonpost.com\\/entry\\/versace-black-code_us_5861fbefe4b0de3a08f600d5",\n    "headline":"former versace store clerk sues over secret \'black code\' for minority shoppers",\n    "is_sarcastic":0\n  },\n  {\n    "article_link":"https:\\/\\/www.huffingtonpost.com\\/entry\\/roseanne-revival-review_us_5ab3a497e4b054d118e04365",\n    "headline":"the \'roseanne\' revival catches up to our thorny political mood, for better and worse",\n    "is_sarcastic":0\n  },\n  {\n    "article_link":"https:\\/\\/local.theonion.com\\/mom-starting-to-fear-son-s-web-series-closest-thing-she-1819576697",\n    "headline":"mom starting to fear son\'s web series closest thing she will have to grandchild",\n    "is_sarcastic":1\n  },\n  {\n    "article_link":"https:\\/\\/politics.theonion.com\\/boehner-just-wants-wife-to-listen-not-come-up-with-alt-1819574302",\n    "headline":"boehner just wants wife to listen, not come up with alternative debt-reduction ideas",\n    "is_sarcastic":1\n  },\n  {\n    "article_link":"https:\\/\\/www.huffingtonpost.com\\/entry\\/jk-rowling-wishes-snape-happy-birthday_us_569117c4e4b0cad15e64fdcb",\n    "headline":"j.k. rowling wishes snape happy birthday in the most magical way",\n    "is_sarcastic":0\n  }\n]'

In [19]:
#                      存储不使用lines,打开就不使用lines
js.head().to_json("27_test.json", orient="records", indent=2)

In [20]:
pd.read_json("27_test.json")

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0