In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 高级处理-重复值

## a.duplicated() 检测重复数据

In [2]:
arr = [
    [1, 2],
    [4, 0],
    [4, 0],
    [9, 0],
]

In [4]:
df = pd.DataFrame(arr, columns=["a", "b"], index=[1, 2, 3, 4])
df

   a  b
1  1  2
2  4  0
3  4  0
4  9  0

In [5]:
df.duplicated()

1    False
2    False
3     True
4    False
dtype: bool

## a.drop_duplicates()
参数:

- subset：表示要进去重的列名，默认为 None。
- keep：有三个可选参数，分别是 first、last、False，默认为 first，表示只保留第一次出现的重复项，删除其余重复项，last 表示只保留最后一次出现的重复项，False 则表示删除所有重复项。
- inplace=False 是否修改原值

In [6]:
df.drop_duplicates()

   a  b
1  1  2
2  4  0
4  9  0