# 安装

https://github.com/modin-project/modin

In [10]:
# !pip install modin[ray,dask]

# 引入

In [ ]:
import modin
import modin.config as modin_cfg
import modin.pandas as pd

# 获取 Engine

In [6]:
modin_cfg.Engine.get()

'Ray'

# 设置引擎

In [ ]:
# modin_cfg.Engine.put("ray")  # Modin will use Ray
# modin_cfg.Engine.put("dask")  # Modin will use Dask

# 使用方式和 pandas 类似，但速度更快

In [ ]:
df = pd.DataFrame(
    {
        "A": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        "B": [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
    },
)
df.head()

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [8]:
df.info()

<class 'modin.pandas.dataframe.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       10 non-null     int64
 1   B       10 non-null     int64
dtypes: int64(2)
memory usage: 292.0 bytes

In [9]:
df.describe()

              A           B
count  10.00000   10.000000
mean    5.50000   55.000000
std     3.02765   30.276504
min     1.00000   10.000000
25%     3.25000   32.500000
50%     5.50000   55.000000
75%     7.75000   77.500000
max    10.00000  100.000000