# 安装

https://github.com/modin-project/modin

In [10]:
# !pip install modin[ray,dask]

# 引入

In [1]:
import numpy as np
import modin
import modin.config as modin_cfg
import modin.pandas as pd

# 获取 Engine

In [2]:
modin_cfg.Engine.get()

'Ray'

# 设置引擎

In [3]:
modin_cfg.Engine.put("ray")  # Modin will use Ray
modin_cfg.Engine.get()

'Ray'

In [4]:
modin_cfg.Engine.put("dask")  # Modin will use Dask
modin_cfg.Engine.get()

'Dask'

# 使用方式和 pandas 类似，但速度更快

In [5]:
df = pd.DataFrame([
    {'name': 'Alice', 'age': 25, 'city': 'New York'},
    {'name': 'Bob', 'age': 30, 'city': 'Paris'},
    {'name': 'Charlie', 'age': 35, 'city': 'London', 'occupation': 'Engineer'} # 多一列
])
df.head()

      name  age      city occupation
0    Alice   25  New York        NaN
1      Bob   30     Paris        NaN
2  Charlie   35    London   Engineer

In [6]:
df = pd.DataFrame(
    np.random.randint(0, 100, size=(10, 4)),
    columns=list("ABCD"),
    index=np.arange(10)
)
df.head()

    A   B   C   D
0  44  15  59  11
1  63  97  42  63
2  81  44  79  86
3  62  11  90  66
4  44   9   8  46

In [7]:
df = pd.DataFrame(
    {
        "A": np.arange(10),
        "B": np.arange(11, 21),
    },
    index=np.arange(1, 11),
)
df.head()

   A   B
1  0  11
2  1  12
3  2  13
4  3  14
5  4  15

In [8]:
df = pd.DataFrame({
    'col1': {'row1': 1, 'row2': 2},
    'col2': {'row1': 10, 'row2': 20}
})
df.head()

      col1  col2
row1     1    10
row2     2    20

In [10]:
df = pd.DataFrame.from_dict({
    'row1': {'col1': 1, 'col2': 10},
    'row2': {'col1': 2, 'col2': 20}
}, orient='index')
df.head()

UserWarning: `from_dict` is not currently supported by PandasOnDask, defaulting to pandas implementation.

      col1  col2
row1     1    10
row2     2    20