# 安装

https://docs.pola.rs/

In [ ]:
# !pip install polars

# 引入

In [6]:
import numpy as np
import polars as pl

# 使用方式和 pandas 类似，但速度更快

In [7]:
df = pl.DataFrame(
    [
        {"name": "Alice", "age": 25, "city": "New York"},
        {"name": "Bob", "age": 30, "city": "Paris"},
        {
            "name": "Charlie",
            "age": 35,
            "city": "London",
            "occupation": "Engineer",
        },  # 多一列
    ]
)
df.head()

shape: (3, 4)
┌─────────┬─────┬──────────┬────────────┐
│ name    ┆ age ┆ city     ┆ occupation │
│ ---     ┆ --- ┆ ---      ┆ ---        │
│ str     ┆ i64 ┆ str      ┆ str        │
╞═════════╪═════╪══════════╪════════════╡
│ Alice   ┆ 25  ┆ New York ┆ null       │
│ Bob     ┆ 30  ┆ Paris    ┆ null       │
│ Charlie ┆ 35  ┆ London   ┆ Engineer   │
└─────────┴─────┴──────────┴────────────┘

In [ ]:
# 没有 columns 列名，没有 index 索引参数
df = pl.DataFrame(
    np.random.randint(0, 100, size=(10, 4)),
)
df.head()

shape: (5, 4)
┌──────────┬──────────┬──────────┬──────────┐
│ column_0 ┆ column_1 ┆ column_2 ┆ column_3 │
│ ---      ┆ ---      ┆ ---      ┆ ---      │
│ i32      ┆ i32      ┆ i32      ┆ i32      │
╞══════════╪══════════╪══════════╪══════════╡
│ 59       ┆ 59       ┆ 52       ┆ 3        │
│ 24       ┆ 48       ┆ 26       ┆ 87       │
│ 95       ┆ 76       ┆ 43       ┆ 44       │
│ 61       ┆ 99       ┆ 31       ┆ 38       │
│ 65       ┆ 67       ┆ 22       ┆ 82       │
└──────────┴──────────┴──────────┴──────────┘

In [11]:
df = pl.DataFrame(
    {
        "A": np.arange(10),
        "B": np.arange(11, 21),
    },
)
df.head()

shape: (5, 2)
┌─────┬─────┐
│ A   ┆ B   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 0   ┆ 11  │
│ 1   ┆ 12  │
│ 2   ┆ 13  │
│ 3   ┆ 14  │
│ 4   ┆ 15  │
└─────┴─────┘

In [12]:
df = pl.DataFrame({"col1": {"row1": 1, "row2": 2}, "col2": {"row1": 10, "row2": 20}})
df.head()

shape: (1, 2)
┌───────────┬───────────┐
│ col1      ┆ col2      │
│ ---       ┆ ---       │
│ struct[2] ┆ struct[2] │
╞═══════════╪═══════════╡
│ {1,2}     ┆ {10,20}   │
└───────────┴───────────┘

In [15]:
df = pl.DataFrame({"row1": {"col1": 1, "col2": 10}, "row2": {"col1": 2, "col2": 20}})
df.head()

shape: (1, 2)
┌───────────┬───────────┐
│ row1      ┆ row2      │
│ ---       ┆ ---       │
│ struct[2] ┆ struct[2] │
╞═══════════╪═══════════╡
│ {1,10}    ┆ {2,20}    │
└───────────┴───────────┘